 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(43, 82, 46, 0.3), rgba(43, 82, 46, 0.3)), url('images/iss064e014990medium.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  min-height: 596px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 268px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 760px;
  margin: 39px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 692px;
  margin: 39px auto 9px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 98px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 0 0 auto;
  padding: 10px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 98px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-layout-cell-1 {
    animation-duration: 1500ms;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 73px 354px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 213px;
  height: 213px;
  margin: 55px auto 0 149px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  margin: -195px 200px 60px 442px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-2 {
    width: 434px;
    margin-left: 342px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 222px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: 168px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 794px;
}

.u-section-3 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-3 .u-blog-1 {
  margin-top: 12px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 375px;
  grid-gap: 22px;
}

.u-section-3 .u-repeater-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 4px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-image-1 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-repeater-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 4px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-image-2 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-repeater-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 4px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.666666666666666px));
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 739px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}